// ------------------------------------------------------------
// slide-show
// ------------------------------------------------------------
#hero-overflow {

	margin-bottom: 0px;
	width: 100%;
	position:relative;
	overflow: hidden;
	height:200px;

	@include media($medium-screen) {
		height:420px;
	}

	div{
		z-index: -10;
		width: 100%;
		height: 100%;
	 	background-size: cover;
	 	background-repeat: no-repeat;
	 	background-position: center center;
		display:none;
		position:absolute; left:0; top:0; 
	}

	// move images to index page to find the path
}

// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------
.site-header {
	@include clearfix;
	background-color: $white-smoke;
	padding:1em;
}
.site-footer{}



// ------------------------------------------------------------
// Site Nav
// ------------------------------------------------------------

.centered-navigation {

  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: #E7F1EC;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 15em;
  $centered-navigation-item-nudge: 2.6em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6);
  font-family: $serif;
  height: $centered-navigation-height;
  max-width: 1000px;
  z-index: 9999;
  
  
// Mobile view

  .mobile-logo {
    display: inline;    
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-menu-button {
    color: $centered-navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  
// Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    @include media($large-screen) {    
    -webkit-transform-style: preserve-3d; 
// stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }}

  
// The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;  

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
    
    a {
      color: $centered-navigation-color;
      display: inline-block;


      &:hover {
        color: $centered-navigation-color-hover;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: .6;
  }

  
// Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -.4em auto auto);
      color: $centered-navigation-color;
      content: '\25BE';
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }      
    }

    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - .2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}

.site-nav {
	@include clearfix;
	.navbar-brand {
		display: block;

		i {
			font-size:3em;
			margin-right:1em;
			display: block;
		}
		@include media($medium-screen) {
			float: left;
		}
	}

	.site-logo {
		display: block;
		border-radius: 100%;
		margin: auto;
	}

	.nav-links {
		height: 0;
		overflow: hidden;

		@include media($medium-screen) {
			height: auto;
		}

		a {
			@include trailing-hovers;
			@include media($medium-screen) {
				display: block;
				float: left;
				line-height: 0;
				height: 0;
				padding: .6em 1.5em;
			}
		}

		.nav-right {
			@include media($medium-screen) {
				float: right;
			}
		}
	}
}

// ------------------------------------------------------------
// Mobile Menu
// ------------------------------------------------------------

.mobile-menu {
	position: absolute;
	top: 1.1em;
	right: 1.1em;
	z-index: 2;

	@include media($medium-screen) {
		display: none;
	}

	.icon {
		display: block;
		font-size: 2em;
		cursor: pointer;
	}
}

// Menu active
.menu-active {

	.nav-links {
		height: auto;
		overflow: auto;

		a {
			display: block;
			padding: .5em;
			text-align:center;
		}
	}
}






// ------------------------------------------------------------
// style switcher jquery
// ------------------------------------------------------------

.container {
  font-size: 1.2em;
  margin: 10px 2em;
}
 
h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}
 
h2 {
  font-size: 1.3em;
  margin-bottom: .5em;
}
h3 {
  font-size: 1.1em;
  margin-bottom: 0;
}
 
code {
  font-size: 1.2em;
}
 
a {
  color: #06581f;
}
 
 


.accordion-menu {
  margin:10px;

	h3 {
		background-color: $medium-gray;
	}
	max-width: auto;
}



// ------------------------------------------------------------
//  PARALLAX PRIMARY STRUCTURE OF NOTICIAS PAGE
// ------------------------------------------------------------


// setting base styles to image containers
[class*="bg__"] {
  height: 50vh;

  text-indent: -9999px;

  /* fix background */
  background-attachment: fixed;

  /* center it */
  background-position: center center;

  /* Scale it nicely to the element */
  background-size: cover;

  /* just make it look a bit better ;) */
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg__foo {
  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax1.jpg
  );
}

.bg__bar {
  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax2.jpg
  );
}

.bg__baz {
  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax3.jpg
  );
}

.bg__bazz {
  height: 100vh;

  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax1.jpg
  );
}

  
  .bg__break {
    box-shadow : inset 0 0 1em #111; 
    
    background-image : url(
      https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax1.jpg
    ); 
  }
  
  .capture {
    float : right;
    
    width : 200px;
    
    padding : 1em;
    margin  : -1.5em 1em 0 0;
    
    text-indent : 0;
    
    background : rgba( #f3f3f3, 0.75 );
    
    box-shadow : 0 1px 0.125em #333;
  }


article {
  .container {
    width : 600px;
    
    margin : 0 auto;
  }
  header {
    position : relative;
    
    margin : -5em 0 0 0;
    padding : 1em;
    
    text-align : left;
    font-size : 2em;
    
    color : #333;
    background-color : rgba( #fff, 0.75 );
  }
  
  h1, h2 {
    margin : 0 0 0.333em;
  }
  
  section {
    padding : 3em;
    
    &.parallax {
      margin  : 0;
      padding : 0;
    }
  }
}

a {
  &, &:visited, &:active {
    color : #f66;
  }
}





// ------------------------------------------------------------
//  PARALLAX PRIMARY STRUCTURE OF INFO PAGE
// ------------------------------------------------------------


section.module:last-child {
  margin-bottom: 0;
}
section.module  {
  h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
}

section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 300px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
   background: url('../images/parallax-image.png');
  background-repeat: no-repeat;
  background-size: cover;
    @include media($large-screen) {
   height: 600px;}
}
section.module.parallax-2 {
   background: url('../images/backg.png');
   background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;
   @include media($large-screen) {
   height: 600px;}
}
section.module.parallax-3 {
   background: url('../images/image-hero.png');
   background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 4em;
   @include media($large-screen) {
   height: 600px;}
}

@include media($large-screen) {
  section.module  {
    h2{
    font-size: 42px;
  }
  p {
    font-size: 20px;
  }
  }
  section.module 
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@include media($large-screen) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
// ------------------------------------------------------------
//  Example of mobile menu
// ------------------------------------------------------------

/* btn */
.menu {
  position: relative;
  display:  inline-block;
  width: 30px;
  height: 30px;
  margin: 25px;
}
.menu span {
  margin: 0 auto;
  position: relative;
  top: 12px;
}
.menu span:before, .menu span:after {
  position: absolute;
  content: '';
}
.menu span, .menu span:before, .menu span:after {
  width: 30px;
  height: 6px;
  background-color: #000;
  display: block;
}
.menu span:before {
  margin-top: -12px;
}
.menu span:after {
  margin-top: 12px;
}
/* --- btn --- */

/* examples */

/* example 1 */
.example1 {
  -webkit-transition: .2s ease;
}
.example1:hover {
  -webkit-transform: rotate(90deg);
}

/* example 2 */
.example2 span:before, .example2 span:after {
  -webkit-transition: .2s ease;
}
.example2:hover span:before, .example2:hover span:after {
  margin-top: 0px;
}

/* example 3 */
.example3 span {
  -webkit-transition: .2s ease 0;
}
.example3 span:before, .example3 span:after {
  -webkit-transition-property: margin, opacity;
  -webkit-transition-duration: .2s, 0;
  -webkit-transition-delay: .2s;
}
.example3:hover span {
  width: 6px;
  -webkit-transition-delay: .2s;
}
.example3:hover span:before, .example3:hover span:after {
  margin-top: 0px;
  opacity: 0;
  -webkit-transition-delay: 0, .2s;
}

/* example 4 */
.example4 span {
  -webkit-transition: .2s ease 0;
}
.example4 span:before, .example4 span:after {
  -webkit-transition-property: margin, opacity;
  -webkit-transition-duration: .2s, 0;
  -webkit-transition-delay: .2s;
}
.example4:hover span {
  -webkit-transform: rotate(90deg);
  -webkit-transition-delay: .2s;
}
.example4:hover span:before, .example4:hover span:after {
  margin-top: 0px;
  opacity: 0;
  -webkit-transition-delay: 0, .2s;
}

/* example 5 */
.example5 span {
  -webkit-transition-duration: 0s;
  -webkit-transition-delay: .2s;
}
.example5:hover span {
  background-color: rgba(0,0,0,0.0);
  -webkit-transition-delay: .2s;
}
.example5 span:before {
  -webkit-transition-property: margin, -webkit-transform;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0;
}
.example5:hover span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg);
  -webkit-transition-delay: 0, .2s;
}
.example5 span:after {
  -webkit-transition-property: margin, -webkit-transform;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0;
}
.example5:hover span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg);
  -webkit-transition-delay: 0, .2s;
}

/* example 6 */
.example6 span {
  -webkit-transition-duration: 0s;
  -webkit-transition-delay: .2s;
}
.example6:hover span {
  background-color: rgba(0,0,0,0.0);
  -webkit-transition-delay: .2s;
}
.example6 span:before {
  -webkit-transition-property: margin, -webkit-transform;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0;
  -webkit-transform-origin: 100% 100%;
}
.example6:hover span:before {
  margin-top: 0;
  -webkit-transform: rotate(22.5deg) skewX(22.5deg);
  -webkit-transition-delay: 0, .2s;
}
.example6 span:after {
  -webkit-transition-property: margin, -webkit-transform;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0;
  -webkit-transform-origin: 100% 0%;
}
.example6:hover span:after {
  margin-top: 0;
  -webkit-transform: rotate(-22.5deg) skewX(-22.5deg);
  -webkit-transition-delay: 0, .2s;
}

/* example 7 */
.example7 span {
  -webkit-transition-duration: 0s;
  -webkit-transition-delay: .2s;
}
.example7:hover span {
  background-color: rgba(0,0,0,0.0);
  -webkit-transition-delay: .2s;
}
.example7 span:before {
  -webkit-transition-property: margin, -webkit-transform;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0;
  -webkit-transform-origin: 0% 100%;
}
.example7:hover span:before {
  margin-top: 0;
  -webkit-transform: rotate(22.5deg) skewX(22.5deg);
  -webkit-transition-delay: 0, .2s;
}
.example7 span:after {
  -webkit-transition-property: margin, -webkit-transform;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0;
  -webkit-transform-origin: 0% 0%;
}
.example7:hover span:after {
  margin-top: 0;
  -webkit-transform: rotate(-22.5deg) skewX(-22.5deg);
  -webkit-transition-delay: 0, .2s;
}

/* example 8 */
.example8 span {
  -webkit-transition: .2s ease 0;
}
.example8 span:before, .example8 span:after {
  -webkit-transition-property: margin, opacity;
  -webkit-transition-duration: .2s, 0;
  -webkit-transition-delay: .2s;
}
.example8:hover span {
  width: 16px;
  height: 16px;
  margin-top: -5px;
  -webkit-border-radius: 50%;
  -webkit-transition-delay: .2s;
}
.example8:hover span:before, .example8:hover span:after {
  margin-top: 0px;
  opacity: 0;
  -webkit-transition-delay: 0, .2s;
}

/* example 9 */
.example9 span {
  -webkit-transition-property: margin, width;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0;
}
.example9:hover span {
  margin-top: 6px;
  width: 20px;
  -webkit-transition-delay: 0, .2s;
}
.example9 span:after {
  -webkit-transition-property: margin, left;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0;
}
.example9:hover span:after {
  margin-top: 6px;
  left: -5px;
  -webkit-transition-delay: 0, .2s;
}
.example9 span:before {
  -webkit-transition-property: margin, width, left;
  -webkit-transition-duration: .2s;
  -webkit-transition-delay: .2s, 0, 0;
}
.example9:hover span:before {
  margin-top: -6px;
  width: 10px;
  left: 5px;
  -webkit-transition-delay: 0, .2s, .2s;
}




$dark-green: #3a693f;
#container {
  background: white;
  width:100%;
  height: auto;
}
.nav {
  margin-top: 50px;
  display: none;
  position: relative;
  float: right;
}
#mobile-menu-button {
  cursor: pointer;
  display: block;
  width: 4em;
  height: 4em;
  position: absolute;
  top: 0;
  right: .1em;
}
#mobile-menu-button a {
  margin: 1em;
  display: block; 
  position: relative;
}
#mobile-menu-button a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 2em;
  height: 0.35em;
  background: $dark-green;
  box-shadow: 0 0.6em 0 0 $dark-green, 0 1.2em 0 0 $dark-green;
}
#mobile-menu-button.active a:before {
  background: #7bb640;
  box-shadow: 0 0.6em 0 0 #7bb640, 0 1.2em 0 0 #7bb640;
}