// ------------------------------------------------------------
// slide-show
// ------------------------------------------------------------
#hero-overflow {

	margin-bottom: 0px;
	width: 100%;
	position:relative;
	overflow: hidden;
	height:200px;

	@include media($medium-screen) {
		height:420px;
	}

	div{
		z-index: -10;
		width: 100%;
		height: 100%;
	 	background-size: cover;
	 	background-repeat: no-repeat;
	 	background-position: center center;
		display:none;
		position:absolute; left:0; top:0; 
	}

	// move images to index page to find the path
}

// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------
.site-header {
	@include clearfix;
	background-color: $white-smoke;
	padding:1em;
}
.site-footer{}



// ------------------------------------------------------------
// Site Nav
// ------------------------------------------------------------

.centered-navigation {

  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: #E7F1EC;
  $centered-navigation-color: transparentize($base-font-color, 0.3);
  $centered-navigation-color-hover: $base-font-color;
  $centered-navigation-height: 60px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 15em;
  $centered-navigation-item-nudge: 2.6em;
  $horizontal-bar-mode: $large-screen;

  background-color: $centered-navigation-background;
  border-bottom: 1px solid darken($centered-navigation-background, 6);
  font-family: $serif;
  height: $centered-navigation-height;
  max-width: 1000px;
  z-index: 9999;
  
  
// Mobile view

  .mobile-logo {
    display: inline;    
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    img {
      max-height: $centered-navigation-height;
      opacity: .6;
      padding: .8em 0;
    }

    @include media($horizontal-bar-mode) {
      display: none;
    }
  }

  .centered-navigation-menu-button {
    color: $centered-navigation-color;
    display: block;
    float: right;
    font-weight: 700;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-right: $centered-navigation-submenu-padding;
    text-transform: uppercase;

    @include media ($horizontal-bar-mode) {
      display: none;
    }

    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  
// Nav menu

  .centered-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  ul.centered-navigation-menu {
    @include media($large-screen) {    
    -webkit-transform-style: preserve-3d; 
// stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    @include media ($horizontal-bar-mode) {
      display: block;
      text-align: center;
    }
  }}

  
// The nav items

  .nav-link:first-child {
    @include media($horizontal-bar-mode) {
      margin-left: $centered-navigation-item-nudge;
    }
  }

  ul li.nav-link {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-right: $centered-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    @include media($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;  

      a {
        padding-right: $centered-navigation-item-padding;
      }
    }
    
    a {
      color: $centered-navigation-color;
      display: inline-block;


      &:hover {
        color: $centered-navigation-color-hover;
      }
    }
  }

  li.logo.nav-link {
    display: none;
    line-height: 0;

    @include media($large-screen) {
      display: inline;
    }
  }

  .logo img {
    margin-bottom: -$centered-navigation-logo-height / 3;
    max-height: $centered-navigation-logo-height;
    opacity: .6;
  }

  
// Sub menus

  li.more.nav-link {
    padding-right: 0;

    @include media($large-screen) {
      padding-right: $centered-navigation-submenu-padding;
    }

    > ul > li:first-child a  {
      padding-top: 1em;
    }

    a {
      margin-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 0.6em;
    }

    > a:after {
      @include position(absolute, auto -.4em auto auto);
      color: $centered-navigation-color;
      content: '\25BE';
    }
  }

  li.more {
    overflow: visible;
    padding-right: 0;

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    > a {
      padding-right: 1.6em;
      position: relative;

      @include media($large-screen) {
        margin-right: $centered-navigation-submenu-padding;
      }

      &:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }      
    }

    &:hover > .submenu {
      display: block;
    }

    @include media($horizontal-bar-mode) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;
    }
  }

  ul.submenu {
    display: none;
    padding-left: 0;

    @include media($horizontal-bar-mode) {
      left: -$centered-navigation-submenu-padding;
      position: absolute;
      top: 1.5em;
    }

    .submenu {
      @include media($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - .2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include media($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          border-bottom-left-radius: $base-border-radius;
          border-bottom-right-radius: $base-border-radius;
          padding-bottom: .7em;
        }
      }

      a {
        background-color: darken($centered-navigation-background, 3);
        display: inline-block;
        text-align: right;
        width: 100%;

        @include media($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }
      }
    }
  }
}


/*
.site-nav {
	@include clearfix;
	.navbar-brand {
		display: block;

		i {
			font-size:3em;
			margin-right:1em;
			display: block;
		}
		@include media($medium-screen) {
			float: left;
		}
	}

	.site-logo {
		display: block;
		border-radius: 100%;
		margin: auto;
	}

	.nav-links {
		height: 0;
		overflow: hidden;

		@include media($medium-screen) {
			height: auto;
		}

		a {
			@include trailing-hovers;
			@include media($medium-screen) {
				display: block;
				float: left;
				line-height: 0;
				height: 0;
				padding: .6em 1.5em;
			}
		}

		.nav-right {
			@include media($medium-screen) {
				float: right;
			}
		}
	}
}

// ------------------------------------------------------------
// Mobile Menu
// ------------------------------------------------------------

.mobile-menu {
	position: absolute;
	top: 1.1em;
	right: 1.1em;
	z-index: 2;

	@include media($medium-screen) {
		display: none;
	}

	.icon {
		display: block;
		font-size: 2em;
		cursor: pointer;
	}
}

// Menu active
.menu-active {

	.nav-links {
		height: auto;
		overflow: auto;

		a {
			display: block;
			padding: .5em;
			text-align:center;
		}
	}
}
*/





// ------------------------------------------------------------
// style switcher jquery
// ------------------------------------------------------------

.container {
  font-size: 1.2em;
  margin: 10px 2em;
}
 
h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}
 
h2 {
  font-size: 1.3em;
  margin-bottom: .5em;
}
h3 {
  font-size: 1.1em;
  margin-bottom: 0;
}
 
code {
  font-size: 1.2em;
}
 
a {
  color: #06581f;
}
 
 
/***************************************
   Chapter Styles
************************************** */
 
.poem {
  margin: 0 5em;
}
.chapter {
  margin: 1em;
}
.switcher {
  float: right;
  background-color: #ddd;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
  font-size: .9em;
}
.switcher h3 {
  margin: .5em 0;
}
 
#header {
  clear: both;
}
 
body.large .chapter {
  font-size: 1.5em;
}
 
body.narrow .chapter {
  width: 250px;
}
 
.selected {
  font-weight: bold;
}
 
.hidden {
  display: none;
}
 
.hover {
  cursor: pointer;
  background-color: #afa;
}
.selected {
	font-weight: bold;
}

.hidden {
	display: none;
}
.hover {
	cursor: pointer;
	background-color: $blue;
}


.accordion-menu {
  margin:10px;

	h3 {
		background-color: $medium-gray;
	}
	max-width: auto;
}

#switcher {
	
  width: 400px;
  padding: .5em;
  border: 1px solid #777;
}
.label {
  width: 130px;
  margin: .5em 0;
  cursor: pointer;
}

// ------------------------------------------------------------
// A romance of many  dimensions
// ------------------------------------------------------------

.chapter {
  margin-right: 200px;
}
#f-title {
  font-size: 1.5em;
}
#excerpt {
  font-style: italic;
}
 
 
span.footnote {
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  display: block;
  margin: 1em 0;
}
 
.chapter span.footnote {
  display: inline;
}
.text-reference {
  font-weight: bold;
}
 
#notes {
  margin-top: 1em;
  border-top: 1px solid #dedede;
}
#notes li {
  margin: 1em 0;
}
 
#footer {
  margin-top: 1em;
  border-top: 1px solid #dedede;
}
 
 
.pulled {
  position: absolute;
  width: 100px;
  top: -10px;
  right: -180px;
  padding: 10px;
  font: italic 1em "Times New Roman", Times, serif;
  background: #e5e5e5;
  border: 1px solid #999;
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}
 
 
.inhabitants {
  border-left: 5px solid #800;
  padding-left: 5px;
}

/***************************************
   Chapter Styles
***************************************/
 
ul#books {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 210px;
  width: auto;
  overflow: hidden;
}
ul#books li {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 210px;
  width: auto;
  background-color: #F79321;
  position: relative;
}
ul#books li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 210px;
}
ul#books li .title {
  margin-left: 300px;
  padding: 10px;
  width: 180px;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}
ul#books li .author {
  margin-left: 300px;
  padding: 10px 10px 0 10px;
  width: 180px;
  font-weight: bold;
  background-color: #F79321;
  color: #fff;
}
 
#books-controls {
  margin: 10px 0;
  width: 500px;
}
#books-controls button {
  margin: 0 10px 10px 0;
  float: left;
}
#books-controls #slider {
  clear: left;
  margin: 10px 0;
}
 
h1 {
  text-align: center;
  border: 0 solid #fff;
  width: 500px;
  margin-bottom: 20px;
}
h1.highlighted {
  border: 10px solid #F79321;
  padding: 10px;
  width: 460px;
  margin-bottom: 0;
  background-color: #000;
  color: #F79321;
}
 
#books .ui-resizable-s {
  bottom: 0;
}
 
.ui-content img {
  display: block;
}
.ui-content .title {
  padding: 10px;
  margin: 0;
  width: 280px;
  font-weight: bold;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  text-shadow: none;
}
.ui-content .author {
  padding: 10px;
  margin: 0;
  width: 280px;
  font-weight: bold;
  font-size: 14px;
  background-color: #F79321;
  color: #fff;
  text-shadow: none;
}
 
