<div id="container">
  <div class="section toShow">
    <span class="icon-anchor"></span>
    <h1>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h1>
    <p>Keffiyeh meh scenester, selfies quinoa butcher cardigan. Squid PBR&B keytar hoodie, chia fanny pack mustache. 3 wolf moon selvage McSweeney's salvia, Brooklyn gastropub vegan hella raw denim pour-over Austin. Brooklyn Tumblr crucifix, mlkshk hella slow-carb church-key cliche roof party stumptown iPhone flannel hoodie sriracha. Fap drinking vinegar artisan American Apparel hella master cleanse. Master cleanse Godard mlkshk farm-to-table, slow-carb chillwave crucifix Tonx tofu. Heirloom banjo PBR, leggings mixtape messenger bag asymmetrical plaid +1 chia.</p>
  </div>
  <div class="section toShow">
    <span class="icon-gamepad"></span>
    <h1>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h1>
    <p>Keffiyeh meh scenester, selfies quinoa butcher cardigan. Squid PBR&B keytar hoodie, chia fanny pack mustache. 3 wolf moon selvage McSweeney's salvia, Brooklyn gastropub vegan hella raw denim pour-over Austin. Brooklyn Tumblr crucifix, mlkshk hella slow-carb church-key cliche roof party stumptown iPhone flannel hoodie sriracha. Fap drinking vinegar artisan American Apparel hella master cleanse. Master cleanse Godard mlkshk farm-to-table, slow-carb chillwave crucifix Tonx tofu. Heirloom banjo PBR, leggings mixtape messenger bag asymmetrical plaid +1 chia.</p>
  </div>
  <div class="section toShow">
    <span class="icon-phone"></span>
    <h1>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h1>
    <p>Keffiyeh meh scenester, selfies quinoa butcher cardigan. Squid PBR&B keytar hoodie, chia fanny pack mustache. 3 wolf moon selvage McSweeney's salvia, Brooklyn gastropub vegan hella raw denim pour-over Austin. Brooklyn Tumblr crucifix, mlkshk hella slow-carb church-key cliche roof party stumptown iPhone flannel hoodie sriracha. Fap drinking vinegar artisan American Apparel hella master cleanse. Master cleanse Godard mlkshk farm-to-table, slow-carb chillwave crucifix Tonx tofu. Heirloom banjo PBR, leggings mixtape messenger bag asymmetrical plaid +1 chia.</p>
  </div>
  <div class="section toShow">
    <span class="icon-dropbox"></span>
    <h1>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h1>
    <p>Keffiyeh meh scenester, selfies quinoa butcher cardigan. Squid PBR&B keytar hoodie, chia fanny pack mustache. 3 wolf moon selvage McSweeney's salvia, Brooklyn gastropub vegan hella raw denim pour-over Austin. Brooklyn Tumblr crucifix, mlkshk hella slow-carb church-key cliche roof party stumptown iPhone flannel hoodie sriracha. Fap drinking vinegar artisan American Apparel hella master cleanse. Master cleanse Godard mlkshk farm-to-table, slow-carb chillwave crucifix Tonx tofu. Heirloom banjo PBR, leggings mixtape messenger bag asymmetrical plaid +1 chia.</p>
  </div>
  <div class="section toShow">
    <span class="icon-plane"></span>
    <h1>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h1>
    <p>Keffiyeh meh scenester, selfies quinoa butcher cardigan. Squid PBR&B keytar hoodie, chia fanny pack mustache. 3 wolf moon selvage McSweeney's salvia, Brooklyn gastropub vegan hella raw denim pour-over Austin. Brooklyn Tumblr crucifix, mlkshk hella slow-carb church-key cliche roof party stumptown iPhone flannel hoodie sriracha. Fap drinking vinegar artisan American Apparel hella master cleanse. Master cleanse Godard mlkshk farm-to-table, slow-carb chillwave crucifix Tonx tofu. Heirloom banjo PBR, leggings mixtape messenger bag asymmetrical plaid +1 chia.</p>
  </div>
  <div class="section toShow">
    <span class="icon-time"></span>
    <h1>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h1>
    <p>Keffiyeh meh scenester, selfies quinoa butcher cardigan. Squid PBR&B keytar hoodie, chia fanny pack mustache. 3 wolf moon selvage McSweeney's salvia, Brooklyn gastropub vegan hella raw denim pour-over Austin. Brooklyn Tumblr crucifix, mlkshk hella slow-carb church-key cliche roof party stumptown iPhone flannel hoodie sriracha. Fap drinking vinegar artisan American Apparel hella master cleanse. Master cleanse Godard mlkshk farm-to-table, slow-carb chillwave crucifix Tonx tofu. Heirloom banjo PBR, leggings mixtape messenger bag asymmetrical plaid +1 chia.</p>
  </div>
  <div class="section toShow">
    <span class="icon-camera"></span>
    <h1>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h1>
    <p>Keffiyeh meh scenester, selfies quinoa butcher cardigan. Squid PBR&B keytar hoodie, chia fanny pack mustache. 3 wolf moon selvage McSweeney's salvia, Brooklyn gastropub vegan hella raw denim pour-over Austin. Brooklyn Tumblr crucifix, mlkshk hella slow-carb church-key cliche roof party stumptown iPhone flannel hoodie sriracha. Fap drinking vinegar artisan American Apparel hella master cleanse. Master cleanse Godard mlkshk farm-to-table, slow-carb chillwave crucifix Tonx tofu. Heirloom banjo PBR, leggings mixtape messenger bag asymmetrical plaid +1 chia.</p>
  </div>
  <div class="section toShow">
    <span class="icon-dashboard"></span>
    <h1>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h1>
    <p>Keffiyeh meh scenester, selfies quinoa butcher cardigan. Squid PBR&B keytar hoodie, chia fanny pack mustache. 3 wolf moon selvage McSweeney's salvia, Brooklyn gastropub vegan hella raw denim pour-over Austin. Brooklyn Tumblr crucifix, mlkshk hella slow-carb church-key cliche roof party stumptown iPhone flannel hoodie sriracha. Fap drinking vinegar artisan American Apparel hella master cleanse. Master cleanse Godard mlkshk farm-to-table, slow-carb chillwave crucifix Tonx tofu. Heirloom banjo PBR, leggings mixtape messenger bag asymmetrical plaid +1 chia.</p>
  </div>
  <div class="section toShow">
    <span class="icon-flag"></span>
    <h1>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</h1>
    <p>Keffiyeh meh scenester, selfies quinoa butcher cardigan. Squid PBR&B keytar hoodie, chia fanny pack mustache. 3 wolf moon selvage McSweeney's salvia, Brooklyn gastropub vegan hella raw denim pour-over Austin. Brooklyn Tumblr crucifix, mlkshk hella slow-carb church-key cliche roof party stumptown iPhone flannel hoodie sriracha. Fap drinking vinegar artisan American Apparel hella master cleanse. Master cleanse Godard mlkshk farm-to-table, slow-carb chillwave crucifix Tonx tofu. Heirloom banjo PBR, leggings mixtape messenger bag asymmetrical plaid +1 chia.</p>
  </div>
</div>