---
title: Middleman is Loaded
---




<div class="fadein">
    <!-- Slides Container -->
    <div>
        <%= image_tag 'example-slide-1.jpg' %>
        <%= image_tag 'example-slide-2.jpg' %>
        <%= image_tag 'example-slide-3.jpg' %>
        <%= image_tag 'example-slide-4.jpg' %>
    </div>
</div>
