---
title: Middleman is Loaded
---
<style>
.bg1{ background-image: url("assets/images/example-slide-1.jpg"); } 
.bg2{ background-image: url("assets/images/example-slide-2.jpg"); }
.bg3{ background-image: url("assets/images/example-slide-3.jpg"); }
.bg4{ background-image: url("assets/images/example-slide-4.jpg"); }
</style>
<div id="hero-overflow">
    <div class="bg1"></div>
    <div class="bg2"></div>
    <div class="bg3"></div>
    <div class="bg4"></div>
</div>

 <div id="main-container" class="container">
 
	  <div id="switcher" class="switcher">
	    <h3>Style Switcher</h3>
	    <button id="switcher-default">
	      Default
	    </button>
	    <button id="switcher-narrow">
	      Narrow Column
	    </button>
	    <button id="switcher-large">
	      Large Print
	    </button>
	  </div>

	  <div id="header">
	    <h2>A Christmas Carol</h2>
	    <h2 class="subtitle">In Prose, Being a Ghost Story of Christmas</h2>
	    <div class="author">by Charles Dickens</div>
	  </div>
 
  	<div class="chapter" id="chapter-preface">
        <h3 class="chapter-title">Preface</h3>
        <p>I HAVE endeavoured in this Ghostly little book, to raise the Ghost of an Idea, which shall not put my readers out of humour with themselves, with each other, with the season, or with me.  May it haunt their houses pleasantly, and no one wish to lay it.</p>
        <p>Their faithful Friend and Servant,</p>
        <p>C. D.</p>
        <p>December, 1843.</p>
  	</div>
 
  	<div class="chapter" id="chapter-1">
        <h3 class="chapter-title">Stave I: Marley's Ghost</h3>
        <p>
        	MARLEY was dead: to begin with. There is no doubt whatever about that. The register of his burial was signed by the clergyman, the clerk, the undertaker, and the chief mourner. Scrooge signed it: and Scrooge's name was good upon 'Change, for anything he chose to put his hand to. Old Marley was as dead as a door-nail.
        </p> 
    </div>

    <br />
    
    <div class="foo">
    	<span class="bar">
    		<a href="http://www.example.com/">
    			The quick brown fox jumps over the lazy dog. 
    		</a>
    	</span>
    	<p>
    		haow razorback-jumping frogs can lavel six  piqued gymnastic!
    	</p>
    </div>


</div>



