
<article>
   <div class="parallax">
    <div class="bg__foo">foo</div>
    <div class="bg__bar">bar</div>
    <div class="bg__baz">baz</div>
    <div class="bg__bazz">bazz</div>
  </div>
  <header>
    <h1>Example for 'background-attachment : fixed'</h1>
    <h2><a href="https://twitter.com/stefanjudis">@stefanjudis</a></h2>
    <p>Image by <a href="#">Matty4z</a></p>
  </header>
  <section>
    <div class="container">
      <p><%= lorem.sentences 13 %></p>
    </div>
  </section>
  <section class="parallax">
    <div class="bg__break">
      <div class="capture">Caption for this beautiful break image, Caption for this beautiful break image, Caption for this beautiful break image, Caption for this beautiful break image.</div>
    </div>
  </section>
  <section>
    <div class="container">
      <p><%= lorem.sentences 13 %></p>
    </div>
  </section>
</article>
<br />
</div>
